<div class="fixed-table-container">
    <div class="header-background"></div>
    <div class="fixed-table-container-inner">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th width="3%">
                    <input class="th-inner" type="checkbox" ng-model="isAll" ng-click="selectAllRows()"/>
                </th>
                <th width="47%">
                    <div class="th-inner">Names</div>
                </th>
                <th width="25%">
                    <div class="th-inner">Artist</div>
                </th>
                <th width="25%">
                    <div class="th-inner">Actions</div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in list | filter: search | orderBy: 'id'"
                ng-class="{'success' : tableSelection[$index]}">
                <td>
                    <input id="{{item.name}}" type="checkbox" ng-model="item.done" ng-click="countClick($index)"/>
                </td>
                <td id="td-380">
                    <div id="item-full">
                        <label for="{{item.name}}" id="item-name">{{item.name}}</label>

                        <div class="text-artist" id="artist">{{item.artist}}</div>
                    </div>
                </td>
                <td class="text-func-td">
                    <div id="item-artist">
                        {{item.artist}}
                    </div>
                </td>
                <td class="td-actions">

                    <a href="#/edit/{{item.id}}" class="">
                        <button type="button" class="btn btn-default" ng-click="go('/new')">
                            <span class="glyphicon glyphicon-edit"></span> <span class="text-func">Edit</span>
                        </button>
                    </a>
                <span class="delete-icon">
                    <button type="button" class="btn btn-default" ng-click="remove(item)">
                        <span class="glyphicon glyphicon-trash"></span> <span class="text-func">Delete</span>
                    </button>
                </span>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
