/* Move down content because we have a fixed navbar that is 50px tall */
html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 50px;
}

/*--------------Header------------*/
header .navbar-fixed-top {
    background: white;
    height: 70px;
}

header .navbar-brand {
    height: 100%;
}

header .navbar-brand {
    float: left;
    padding: 10px 0 10px 15px;
    line-height: 20px;
    font-size: 33px;
    height: 100%;
}

header #navbar-title {
    padding-top: 25px;
}

header #nav-colum {
    display: none;
}

header .navbar-brand {
    font-weight: 800;
}

/*--------------Side menu------------*/
aside .sidebar {
    background: white;
}

aside .sidebar {
    position: fixed;
    top: 71px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    /*display: block;*/
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #fafafa;
    border-right: 1px solid #eee;
}

aside #sidr {
    display: block;
    left: 0;
}

aside .sidr {
    box-shadow: none;
    padding: 0;
}

aside .nav-pills {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}

aside .nav-pills > li > a {
    border-radius: 0;
    font-size: 16px;
    font-weight: 500;
}

aside .nav-pills > li + li {
    margin-left: 0;
}

aside .nav-pills > li {
    float: none;
}

/*--------------Main container------------*/
section .main-container {
    margin-right: 0;
    margin-left: 0;
}

section article .main {
    padding-top: 20px;
    top: 21px;
}

section article .main .page-header {
    margin-top: 0;
}

/* Hide for mobile, show later */
article .ui.inverted.menu .active.item {
    box-shadow: none !important;
    background-color: #006DCC;
}

/*Placeholder dashboard ideas*/
article .placeholder {
    text-align: right;
}

/* Pure css fixed header tables */
article .fixed-table-container {
    width: 100%;
    height: 500px;
    border-bottom: 1px solid #DDDDDD;
    margin: 10px auto;
    position: relative;
    padding-top: 44px;
}

article .header-background {
    background-color: #006dcc;
    height: 45px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

article .fixed-table-container-inner {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

article table {
    background-color: #FFF;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

article .table {
    margin-bottom: 0;
}

article .table > thead > tr > th {
    padding: 0 8px 0 8px;
}

article table > thead > tr > td {
    vertical-align: middle;
}

article th {
    padding: 0 5px;
    text-align: left;
}

article .first .th-inner {
    border-left: medium none;
    padding-left: 6px;
}

article .th-inner {
    position: absolute;
    top: 0;
    line-height: 30px;
    text-align: left;
    border-left: 1px solid #DDDDDD;
    margin-left: -8px;
    height: 45px;
    vertical-align: middle;
    padding: 8px;
}

article td {
    border-bottom: 1px solid #DDDDDD;
    padding: 5px;
    text-align: left;
}

article table > thead > tr > th {
    color: #ffffff;
}

article .table > tbody > tr > td, .table > thead > tr > th {
    vertical-align: middle;
}

article input[type="checkbox"] {
    margin: 0 0 0;
}

article .td-actions {
    text-align: center;
}

/* Add new*/

article .ng-invalid.ng-dirty {
    border: 1px solid red;
}

article #content-heder-left {
    border-bottom: 1px solid;
    padding: 20px 0;
}

article #content-heder-left h3 {
    display: inline;
}

article #add-new {
    padding: 15px;
    border: 1px solid #dddddd;
    margin-top: 20px;
}

/*--------breadcumb------*/
article #content-heder-left ul.musicPath {
    margin: 0 auto 0;
    padding: 10px;
    text-align: left;
    list-style: none outside none;
    font: normal 17px Helvetica, sans-serif !important;
    overflow: hidden;
    border: 1px solid #dddddd;

}

article #content-heder-left ul.musicPath li {
    float: left;
    margin-right: 0;
    padding-right: 10px;
    width: auto;
    text-align: left;
}

article .text-artist {
    display: none;
}

/*---------Footer-----------*/
footer {
    height: 45px;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    line-height: 45px;
    text-align: center;
    bottom: 0;
}

footer #footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/* Màn hình có độ phân giải tối đa 1000px */
@media screen and (max-width: 1000px) {
    body {
        /*background: blue;*/
    }

    section #sidr {
        display: none;
        left: 0;
    }

    article .delete-icon, #main-right-nav {
        display: none;
    }

}

/* Màn hình có độ phân giải tối đa 768px */
@media screen and (max-width: 750px) {
    /*body {*/
        /*background-color: green;*/
    /*}*/

    header #nav-colum {
        display: block;
    }

    header #nav-colum #header-nav {
        padding: 6px 0 6px 0;
    }

    section article .main {
        top: 0;
    }

    article .nav-path {
        display: none;
    }

    article .text-func {
        display: none;
    }
}

/* Màn hình có độ phân giải tối đa 540px */
@media screen and (max-width: 540px) {
    /*body {*/
        /*background-color: yellow;*/
    /*}*/

    header a img {
        width: 40px;
    }

    #header img {
        margin: 5px;
    }

    #header h1 {
        margin: 3px;
    }

    article #add-new {
        border: none;
    }

    article #header h1 a {
        font-size: 25px;
    }

    article h3, .h3 {
        font-size: 20px;
    }

    article table {
        font-size: 13px;
    }

    article #item-name {
        font-weight: bold;
    }

    aside .sidebar {
        min-width: 150px;
    }
}

/* Màn hình có độ phân giải tối đa 380px */
@media screen and (max-width: 380px) {
    /*body {*/
        /*background-color: white;*/
    /*}*/

    header .navbar-brand {
        padding: 2px 5px;
    }

    header .navbar-fixed-top {
        height: 50px;
    }

    header .navbar-header a#logo img {
        width: 40px;
        padding-top: 3px;
    }

    header .navbar-header a#navbar-title {
        font-size: 20px;
        padding-top: 15px;
    }

    header .navbar-header .navbar-brand {
        font-size: 30px;
    }

    section article .main {
        padding: 0 20px 0 20px;
    }

    section .sidebar {
        top: 51px;
    }

    article .table > thead {
        display: none;
    }

    article .text-func, .text-func-td {
        display: none;
    }

    article .text-artist {
        display: block;
    }

    article #td-380 {
        width: 80%;
    }

    article .table-bordered > tbody > tr > td {
        border: none;
        border-bottom: 1px solid #dddddd;
    }

    article #title-nav h3 {
        font-size: 15px;
        font-weight: bold;
    }

    article .left2-title {
        width: 45%;
        float: left;
        padding: 2px 0 0 15px;
    }

    article .left2-button {
        width: 55%;
    }

    article .fixed-table-container {
        width: 100%;
        height: 100%;
        border-bottom: 1px solid #DDDDDD;
        margin: 10px auto;
        position: relative;
        padding-top: 44px;
    }

    article .header-background {
        position: absolute;
        display: none;
    }

    article .fixed-table-container-inner {
        margin-top: -45px;
    }
}